:root {
	--ff-heading: 'Jura', Arial, Helvetica, sans-serif;
	--ff-body: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	--clr-text: #f5f5f5;
	--bg-color: #180a36;
	--afx-blue: #0088d4;
	--afx-purple: #7c4bc4;
	--afx-pink: #b23f82;
}

h1,
h2,
h3 {
	font-family: var(--ff-heading);
}

h2 {
	font-size: 3.2rem;
	line-height: 3.2rem;
	margin-bottom: 6.4rem;
	position: relative;
	display: inline-block;
	width: 100%;
}

h3 {
	margin-top: 1.6rem;
	margin-bottom: 0.8rem;
}

p,
a,
li {
	font-family: var(--ff-body);
}

p {
	margin-top: 1.2rem;
	margin-bottom: 2.4rem;
}

a {
	color: var(--afx-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

h1,
h2,
h3,
p,
li {
	color: var(--clr-text);
}

h2 {
	opacity: 0;
}

.fade-in-header {
	animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

h2::before {
	content: '';
	position: absolute;
	right: 0;
	top: 100%;
	left: -100vw;
	height: 10px;
	margin-right: 40px;
	margin-top: 24px;
	background: var(--afx-blue);
	background: linear-gradient(270deg, var(--afx-blue) 0%, var(--afx-purple) 50%, var(--afx-pink) 100%);
	width: 200px;
	border-radius: 16px;
}

.line-animation::before {
	animation: slideLine 0.5s forwards;
	animation-delay: 0.5s;
}

@keyframes slideLine {
	100% {
		left: 0;
	}
}

h2::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 180px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-top: 24px;
	background: var(--afx-blue);
	visibility: hidden;
	display: inline-block;
}

.dot-animation::after {
	animation: slideDot 0.6s forwards;
	animation-delay: 1s;
}


@keyframes slideDot {
	100% {
		visibility: visible;
		left: 210px;
	}
}

#project img {
	border-radius: 8px;
	align-self: center;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--bg-color);
}

footer {
	width: 100%;
	background-color: #120729;
	padding: 1.6rem;
	text-align: center;
}

.container {
	padding: 1.6rem;
	width: 100%;
	max-width: 800px;
}

.content {
	opacity: 0;
}

.fade-in-text {
	animation: fadeIn 2s forwards;
	animation-delay: 0.5s;
}

#about-section,
#events-section,
#project-section,
#join-section,
#contact-section {
	scroll-margin-top: calc(100vh + 200px);
}

#events ul {
	list-style: none;
	padding: 0;
}

#events ul li {
	margin-bottom: 0.8rem;
}

#events a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

#events a svg {
	margin-right: 0.8rem;
}

#project img {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 1.6rem;
}

.gallery {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.gallery a {
	display: block;
}

/*
* Menu
*/

nav {
	background-color: #ffffff;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: var(--bg-color);
	z-index: 10;
	padding: 2.4rem 0;
	filter: drop-shadow(0px 10px 16px #0a0417c7);
}

.menu {
	margin-top: 1.6rem;
	width: 100%;
	height: 100vh;
	position: sticky;
	background-color: black;
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s ease-out;
	background-color: var(--bg-color);
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.menu>li>a {
	display: block;
	padding: 1.6rem 2.4rem;
	text-decoration: none;
}

nav .checkbox {
	display: none;
}

/*Menu icon styling*/

nav .hamburger-lines {
	cursor: pointer;
	float: right;
	display: block;
	height: 26px;
	width: 32px;
	position: relative;
	right: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #e3e9ec;
}

nav .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

nav .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

nav .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

nav input[type="checkbox"]:checked~.menu {
	max-height: 100%;
}

nav input[type="checkbox"]:checked~.menu-items {
	transform: translateX(0);
}

nav input[type="checkbox"]:checked~.hamburger-lines .line1 {
	transform: rotate(45deg);
}

nav input[type="checkbox"]:checked~.hamburger-lines .line2 {
	transform: scaleY(0);
}

nav input[type="checkbox"]:checked~.hamburger-lines .line3 {
	transform: rotate(-45deg);
}

nav input[type="checkbox"]:checked~.logo {
	display: none;
}

/*
* Parallax
*/

.wrapper {
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
	display: block;
}

.parallax {
	position: relative;
	height: 100%;
	max-height: calc(100vw / 3508 * 2480);
	transform-style: preserve-3d;
	z-index: -2;
}

.parallax img {
	width: 100vw;
	position: absolute;
	bottom: 0;
	transform-origin: 50% 50vh;
}

.parallax img:nth-last-of-type(2) {
	transform: translateZ(-1px) scale(1.5);
}

.parallax img:nth-last-of-type(3) {
	transform: translateZ(-2px) scale(2);
}

.parallax img:nth-last-of-type(4) {
	transform: translateZ(-3px) scale(2.5);
}

.parallax img:nth-last-of-type(5) {
	transform: translateZ(-4px) scale(3);
}

.parallax img:nth-last-of-type(6) {
	transform: translateZ(-5px) scale(3.5);
}

.parallax img:nth-last-of-type(7) {
	transform: translateZ(-6px) scale(4);
}

.parallax img:nth-last-of-type(8) {
	transform: translateZ(-7px) scale(4.5);
}

.parallax img:nth-last-of-type(9) {
	transform: translateZ(-8px) scale(5);
}

.parallax img:nth-last-of-type(10) {
	transform: translateZ(-9px) scale(5.5);
}

.parallax img:nth-last-of-type(11) {
	transform: translateZ(-8px) scale(5.5);
}

@media (min-width: 620px) {
	.container{
		padding: 1.6rem 4rem;
	}
}

@media (min-width: 800px) {

	#about-section,
	#events-section,
	#project-section,
	#join-section,
	#contact-section {
		scroll-margin-top: 200px;
	}

	h2 {
		flex: 0 0 100%;
	}

	.menu {
		min-height: 20px;
		margin: 0;
		height: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	#events .content,
	#project .content>div:first-of-type {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#events {
		flex-wrap: wrap;
	}

	#events .content div:first-of-type,
	#project .content div:first-of-type p,
	#project .content div:first-of-type div {
		max-width: 50%;
	}

	#project .content div:first-of-type p {
		margin-right: 1.6rem;
	}

	#project .image-container {
		margin-top: 1.6rem;
	}

	.image-container img {
		width: 100%;
		height: auto;
	}

	nav input,
	nav label {
		display: none !important;
	}

	#project img {
		margin-top: 0;
	}

	.gallery {
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.gallery a img {
		max-width: 200px;
		max-height: 100px;
	}
}

@media (min-width: 1024px) {
	.container {
		padding: 0;
	}
}