/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* Custom global CSS */

:root {
	--ff-heading: 'Jura Variable', Arial, Helvetica, sans-serif;
	--ff-body: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
	--clr-text: #f5f5f5;
	--clr-bg: #180a36;
	--clr-afx-blue: #0088d4;
	--clr-afx-purple: #7c4bc4;
	--clr-afx-pink: #b23f82;
	--border-radius: 4px;
		--width-content: 800px;
	--width-site: 1200px;
	--space-xs: 0.5rem;
	--space-sm: 1rem;
		--space-md: 1.5rem;
		--space-lg: 2rem;
		--space-xl: 2.5rem;
		--space-xxl: 3rem;
		--space-xxxl: 3.5rem;
		--space-xxxxl: 4rem;
}

h1,
h2,
h3,
button {
	font-family: var(--ff-heading);
}

h3 {
	margin-top: 1.6rem;
	margin-bottom: 0.8rem;
}


p,
a,
li {
	font-family: var(--ff-body);
}

p {
	margin-top: 1.2rem;
	margin-bottom: 2.4rem;
}

a {
	color: var(--clr-afx-blue);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

h1,
h2,
h3,
p,
li {
	color: var(--clr-text);
}

.container {
	width: 100%;
}

@media (min-width: 800px) {
	.container {
		max-width: var(--width-content);
			margin: 0 auto;
		}

								svg {
									max-width: 400px;


		h1 {
				font-size: 6rem;
			}
				}
}

/*


@media (min-width: 800px) {

	.menu {
		min-height: 20px;
		margin: 0;
		height: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	
	nav input,
	nav label {
		display: none !important;
	}

	#project img {
		margin-top: 0;
	}

	.gallery {
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.gallery a img {
		max-width: 200px;
		max-height: 100px;
	}
}

@media (min-width: 1024px) {
	.container {
		padding: 0;
	}
} */